@font-face {
  font-family: 'MyFont';
  src: url('../../public/blrrpix.strict.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #202225;
  color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.navbar .logo {
  font-size: 2.5rem;
  letter-spacing: 3px;
  color: #fff;
  font-family: 'MyFont', sans-serif;
}

.navbar div {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.navbar .btn {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.25s, transform 0.25s;
}

.navbar .btn:hover {
  background-color: #2f3136;
  transform: scale(1.05);
}

.avatar-dropdown {
  position: relative;
  display: inline-block;
}

/* Аватар */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  cursor: pointer;
}

